@charset "UTF-8";



 /* 단추모양 */
.btn{
	width: 100px;
	height: 70px;
	background-color: gray;
	color: white;
	font-weight: bold;
	border: black 1px solid;
	border-radius: 70px;
	cursor: pointer;
	
}

.btn2{
	background-color: maroon;
	display: inline-block;
	width: 150px;
	height: 60px;
	line-height: 50px;
	text-align: center;
	text-decoration: underline;
	color:  lime;
	font-size: xx-large;
	font-weight:bolder;
	font-stretch:ultra-expanded;
	text-decoration:line-through;
	cursor: pointer;
}

.btn3{
	border-top-left-radius: 5px; 
	border-bottom-left-radius: 5px;
	margin-right:-4px;
	background-color: red;
}

.btn4{
	background-color: orange;
	background-repeat: no-repeat;
	background-size: 50px;
	cursor: pointer;
	color:white;
	text-decoration: underline;
	text-shadow: green;
	text-overflow:clip;
	font-size: xx-large;
	font-weight: bolder;
	padding: 10%;
	border-radius: 50px;
	font-style: oblique;
}


.btn5{
	margin: 10px 30px 50px 70px;
	background-color: green;
	color:white;
	font-size: x-large;
	padding: 30px 30px;
	content:open-quote;
	border-top-left-radius: 100px;
	border-bottom-right-radius: 100px;
	border-color: lime;
}