@charset "UTF-8";

#title{
	font-size: xx-large;
	font-style:  italic;
	color: blue;
	font-weight: bolder;
	margin: 0 auto;
	align-content: center;
	text-align: center;
}

.tb1{
	border: 2px solid red;
	box-sizing: content-box;
	margin: auto;
}
.cap1{
	text-decoration: underline;
	font-size: x-large;
	font-weight: bolder;
}
.th1{
	border: 1px solid black;
	background-color: silver;
	text-align: center;
	font-size: large;
	font-weight: bold;
	color: green;
}


.t1{
	border: 1px solid black;
	color: green;
}